{
  "extends": [
    "airbnb/base",
    "plugin:mocha/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "mocha"
  ],
  "overrides": [
    {
      "files": "*.test.ts",
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ],
  "rules": {
    "arrow-parens": "off",
    "camelcase": "off",
    "class-methods-use-this": "off",
    "func-names": "off",
    "import/no-absolute-path": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/imports-first": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "linebreak-style": "off",
    "max-len": ["error", 120],
    "no-confusing-arrow": ["error", {"allowParens": true}],
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "no-restricted-syntax": "off",
    "no-underscore-dangle": "off",
    "object-curly-newline": "off",
    "object-property-newline": "off",
    "object-shorthand": "off",
    "operator-linebreak": "off",
    "padded-blocks": "off",
    "indent": "off",
    "prefer-arrow-callback": "off",
    "prefer-destructuring": "off",
    "prefer-promise-reject-errors": "off"
  }
}
